.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.try-again-button {
  padding: 8px 24px;
  background-color: #fff;
  color: #171f46;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.failure-description {
  margin: 24px 0;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .failure-description {
    font-size: 24px;
    margin-top: 33px;
  }

  .try-again-button {
    padding: 12px 24px;
  }
}
