nav {
  padding: 24px 32px;
  background-color: #13131330;
  font-family: 'Hanken Grotesk';
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-part img {
  max-width: 100px;
}
.nav-icons {
  font-size: 24px;
}

.laptop-view {
  display: none;
}

.right-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 16px;
}

.left-part {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-button{
    background-color: transparent;
    border: none;
    outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bold {
  font-weight: 600;
}

.close-icon {
  font-size: 24px;
}

.bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 32px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #f8fafc;
  border-radius: 4px;
}

.search-page-icon {
  display: block;
  background-color: #14141480;
  color: #fff;
  margin: 0 8px;
  font-size: 16px;
}

.search-container > input {
  background-color: transparent;
  outline: none;
  border: none;
  border-right: 1px solid #f8fafc;
  flex-grow: 1;
  width: 95%;
  padding: 8px 4px;
}

@media screen and (max-width: 767px) {
  .search-container {
    max-width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .right-part {
    gap: 24px;
  }

  .laptop-view {
    display: block;
  }

  nav {
    padding: 24px 100px;
  }

  .left-part img {
    min-width: 135px;
  }

  .left-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .nav-link {
    font-size: 16px;
  }

  .link {
    text-decoration: none;
  }

  .bold {
    font-weight: 700;
  }

  .mobile-view {
    display: none;
  }

  .search-container > input{
      padding: 8px 16px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 32px 165px;
  }
}
